* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/Gilroy-Medium.woff") format("woff"),
    url("../fonts/Gilroy-Medium.woff2") format("woff2");
}
body {
  font-family: "Gilroy-Bold", sans-serif;
  font-size: 18px;
  color: #070707;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    max-width: 90%;
  }
}
a {
  text-decoration: none;
  transition: 0.5s;
  color: #828282;
}
